<html>
  <head>
    <title><%= Strings.translate(:game_title) %></title>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <p><%= Strings.translate(:invalid_board) %></p>
  </body>
</html>
