<!DOCTYPE html> 
<html>
  <head>
    <title><%= Strings.translate(:game_title) %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/public/game.js"></script>
  </head>

  <body>
    <table id="board">
      <tbody />
    </table>
    <div id="state" />
      <!-- TODO    <p class="status"><a href="/"><%= Strings.translate(:play_again_link) %></a></p> -->
  </body>
</html>


