<!DOCTYPE html> 
<html>
  <head>
    <title><%= Strings.translate(:game_title) %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <script src="/public/jquery-2.1.1.min.js"></script>
    <script src="/public/game.js"></script>
  </head>
  <body>
    <table id="board">
      <% (0...board_size).each do |row| %>
        <tr>
          <% (0...board_size).each do |col| %>
            <td id="sq-<%= row*board_size + col %>">
              <a />
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <p id="status" />
  </body>
</html>


