<!DOCTYPE html> 
<html>
  <head>
    <title><%= NoughtsAndCrosses::Strings.translate(:game_title) %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <table id="board">
      <% (0...@board_size).each do |row| %>
        <tr>
          <% (0...@board_size).each do |col| %>
            <td id="sq-<%= row*@board_size + col %>">
              <a />
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <p id="status" />
  </body>
  <script>
    <!--
      new NoughtsAndCrosses.Game($(document.body), window.location.href).start()
    -->
  </script>
</html>


